{% extends 'base.html' %} {% load static %} {% block content %}

<img
  class="img-fluid d-flex my-5 justify-content-center mx-auto"
  style="width: 30%"
  src="{% static 'images/salad.jpg' %}"
  alt="salad image"
/>

{{id}}
<!-- table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">userId</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{i.userId}}</th>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
